@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background-color: #fcfcfc;
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}
.limited-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Số dòng bạn muốn giới hạn */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.play {
  filter: drop-shadow(6px 27px 34px rgba(0, 0, 0, 0.1));
}
.heart {
  border-radius: 0px 37.5px 0px 42.5px;
}
.footer-list {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 3fr;
  grid-gap: 120px;
}

/* .special-list .swiper-slide {
  width: 390px;
  height: 100%;
} */
.border-top {
  border: 1px solid #ccc;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000; /* Thay đổi thành màu bạn muốn */
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: rgba(255, 255, 255, 1);
}

.table-product thead tr th {
  padding: 8px;
}

.table-product tbody tr td {
  padding: 12px;
  text-align: center;
}

.table-product tbody tr {
  border-top: 0.01px solid #ccc;
}

.table-user thead tr th {
  padding: 8px;
}

.table-user tbody tr td {
  padding: 12px;
  text-align: center;
}

.table-user tbody tr {
  border-top: 0.01px solid #ccc;
}
.table-user tbody tr:nth-child(even) {
  background-color: #e8e5e5; /* Màu nền xám cho các hàng chẵn */
}

.table-cart thead tr th {
  padding: 10px;
}
.table-cart tbody tr td {
  text-align: center;
  padding: 25px 8px;
}
.quantity button {
  width: 30px; /* Adjust button width as needed */
  height: 30px; /* Adjust button height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Adjust background color as needed */
  border: 1px solid #ccc; /* Adjust border as needed */
  border-radius: 4px; /* Adjust border radius as needed */
  cursor: pointer;
}
.quantity input[type="number"] {
  width: 50px; /* Adjust input width as needed */
  height: 30px; /* Match the button height */
  text-align: center;
  border: 1px solid #ccc; /* Adjust border as needed */
  border-radius: 4px; /* Adjust border radius as needed */
}
.menu-nav li a {
  font-size: 25px;
  font-weight: 600;
}
.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-top: 50px;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
}

.pagination li a {
  display: block;
  padding: 8px 16px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
}

.pagination li a:hover {
  background-color: #e0e0e0;
}

.pagination .active a {
  background-color: #39db4a;
  color: white;
  border: 1px solid #007bff;
}

.pagination .disabled a {
  pointer-events: none;
  opacity: 0.6;
}
